<!DOCTYPE html>
<html>
<head>
	
  <title>StreamBack-Test</title>

	<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

    <style>
      div.msgBox {
        background-color: #ddd;
        border-radius: 10px;
        color: #555;
        margin-bottom: 5px;
        padding: 5px 10px;
      }
    </style>

</head>

<body>

  <div class="col-sm-4">
    <h1>Stream Pigeon</h1>
    <form method="POST">
  	  <div class="form-group">
  	    <label for="userName">User Name:</label>
  	    <input type="text" class="form-control" id="userName" placeholder="Enter user name" required>
  	  </div>
  	  <div class="form-group">
  	    <label for="userMessage">Message:</label>
  	    <input type="text" class="form-control" id="userMessage" placeholder="Enter message" required>
  	  </div>
  	  <button type="submit" class="btn btn-primary">Submit</button>
  	</form>
  </div>
      
    <br>
    <br>
  <div class="container">
    <div class="col-sm-8">
      <div class="chatBox"></div>
    </div>
  </div>


	<script>
		var socket = io.connect('http://' + document.domain + ':' + location.port);


    // Connection request / Broadcasting a message
		socket.on('connect', () => {
		    socket.emit('event', {
		        data: 'A User Connected',
            client: 'http://' + document.domain + ':' + location.port
		    });

        // Store user name and message from the input form
		    var form = $('form').on('submit', (e) => {
		        e.preventDefault();
		        let userName = $('input#userName').val()
		        var userInput = $('input#userMessage').val()
            
		        socket.emit('event', {
		            usrName: userName,
		            usrInput: userInput,
		        });
            // Clear input field after submut
            $('input#userMessage').val('').focus();
		    });
		});      
    // POST user's message to the UI
    socket.on('response', (msg) => {
        console.log(msg);
        if (typeof msg.usrName !== 'undefined') {
          $('div.chatBox').append('<div class="msgBox"><b style="color: #000">'+msg.usrName+'</b> '+msg.usrInput+'</div>');
        }
    });

    socket.on('disconnect', (msg) => {
    });

	</script>
</body>

</html> 
